@import '../Var.scss';

.btn__leads {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 2rem auto;
    width: 144px;
    height: 30px;
    border: 1px solid $color-primary;
    border-radius: 27px;
    color: $color-grey;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 21px;
    background-color: $color-white;
}